<h2>Search</h2>

<p>This is the user search page</p>
<div class="panel panel-default">
    <form class="panel-body" method="GET" enctype="application/x-www-form-urlencoded" action="/pokemon/search">
        <input class="form-control" name="name" placeholder="Pokemon Name" type="text">
        <button type="submit" class="btn btn-warning">Search</button>
    </form>
</div>

<a class="btn btn-danger" href="/user/logout">Logout</a>
