<!-- <div ng-repeat="pokemon in searchController.list"> -->
<h2>Details for {{searchController.pokemon._id}}</h2>

<a class="btn btn-primary" href="/user/#/search">Back to Search</a>
<!-- <a class="btn btn-primary" ng-click="searchController.read(_id)">Load</a> -->

<div class="pokemon-view">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <strong>Pokemon ID: </strong> {{ searchController.pokemon.pId }}
            </div>
            <div>
                <strong>Name: </strong> {{ pokemon.name }}
            </div>
            <div>
                <strong>Type 1: </strong> {{ pokemon.type }}
            </div>
            <!-- <div>
                    <strong>Type 2: </strong> {{ pokemon.type2 }}
                </div> -->
            <div>
                <strong>Species: </strong> {{ pokemon.species }}
            </div>
            <div>
                <strong>Height: </strong> {{ pokemon.height }}
            </div>
            <div>
                <strong>Weight: </strong> {{ pokemon.weight }}
            </div>
            <div>
                <strong>Ability: </strong> {{ pokemon.ability }}
            </div>
            <div>
                <strong>HP: </strong> {{ pokemon.health }}
            </div>
            <div>
                <strong>Attack: </strong> {{ pokemon.attack }}
            </div>
            <div>
                <strong>Defense: </strong> {{ pokemon.defense }}
            </div>
            <div>
                <strong>Special Attack: </strong> {{ pokemon.spAttack }}
            </div>
            <div>
                <strong>Special Defense: </strong> {{ pokemon.spDefense }}
            </div>
            <div>
                <strong>Speed: </strong> {{ pokemon.speed }}
            </div>
            <div>
                <strong>Generation: </strong> {{ pokemon.generation }}
            </div>
            <div>

                <div>
                    <ul ng-repeat="pokemon in searchController.individual.moves">
                        <li>
                            <strong>Move:</strong> {{name}}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- </div> -->
